SERVER_PORT=9874 # The port on which the server will run
MAX_FILE_SIZE=20 # The maximum size of files that can be sent to the server in megabytes
MAX_FILE_DIMENSIONS=4000 # The maximum dimension per axis an image can have in pixels

MAX_CONCURRENT_UPLOADS=30 # The amount of POST / requests allowed to process at the same time
MAX_CONCURRENT_CONVERSIONS=10 # The amount of conversions allowed to run at the same time

ALLOWED_ORIGINS=https://example.com,https://www.example.com # Only allow specific origins to access this API (optional)